@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
body {
  /* untuk memformat bagian body */
    font-family: Quicksand, sans-serif; 
    margin: 0;
   padding: 0;
  
 }
 /* style navbar */
nav {
    position: sticky;
    padding: 10px;
    top: 0;
    z-index: 99 ; /*agar navigasi jadi elemen palign atas*/
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    background-color: white;
  }
  nav ul {
    text-align:center;
  }
  nav li{
    display: inline;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  nav a {
    text-decoration: none;
    color: #082A5A;

  }
  nav a:hover {
    text-decoration: none;

  }

/* style hero */
.Hero{
    margin: 40px;
    margin-left: 60px;
    color: #082A5A;
}
.Hero h1 {
    font-size: 10px;
    font-weight: bold;
}
.Hero-item-1{
    text-align: left;
    padding: 80px 0px 0px 50px;
    width: 100%;
}
.Hero-item-2{
    width: 100%;
}
.Hero-item-2 img {
    width: 100%;
}

/* style categories*/
.categories {
    width: 100%;
    height: 700px;
    background-color: #2276B4;
}
.categories h1 {
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
}
.category-list{
    margin: 0 auto;
    width: 80%;
}
.category-item{
    width:100%;
    height: 50px;
    border: solid 5px white ;
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}
.category-item h2 {
    font-size: 20px;
    padding-top: 5px;
}
.item-color-1{
    background-color: #F22F14;
}
.item-color-2{
    background-color: #F2D114;
}
.item-color-3{
    background-color: #082A5A;
}
/* style dekstop */
.category-item-dk{
    width: 300px;
    height: 300px;
    border: 10px solid white;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    color: white;
}
.category-item-dk img {
    width: 80%;
}
.category-list-dk{
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* style fitur */
.fitur h1 {
    text-align: center;
    color: #082A5A;
    padding-top: 30px;
    font-size: 30px;
}
.fitur-item-mb{
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
}
.fitur-number{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F22F14;
    text-align: center;
    color: white;
    font-size: 40px;
    padding-top: 5px;
}
.fitur-color-1{
    background-color: #F22F14;
}
.fitur-color-2{
    background-color: #F2D114;
}
.fitur-color-3{
    background-color: #082A5A;
}

/* fitur desktop */
.fitur-item-dk{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px auto;
    font-size: 30px;
    font-weight: bold;
    color: #082A5A;
}
.fitur-item-dk img {
    width: 400px;
    margin-left: 20px;
}
.fitur-item-dk p{
    padding-top: 30px;
}

.button-logout{
    border: none;
    background-color: white;
    color: #082A5A;
    font-size: 20px;
    font-weight: bold;
  }
  .button-logout:hover{
    color: #2276B4;
  }
  /* style dashborad dan form */
  .form{
    width: 70%;
    margin: 50px auto;
  }
  .list{
    width: 70%;
    margin: 50px auto;
  }
  .form h1 {
    color: #082A5A;
    font-weight: bold;
    text-align: center;
  }
  .tambah-event {
    width: 170px;
    height: 40px;
    background-color: #082A5A;
    border-radius: 10px;
   
  }
  .tambah-event h1{
    font-size: 17px;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
  }
  .list a{
    text-decoration: none;
    color: white;
  }
  
  .list-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #C4C4C4;
    margin-top: 20px  ;
    color: #082A5A;
    height: 70px;
   
  }
  .action {
    text-align: right;
    padding: 15px 30px 0px 0px;
    font-size: 30px;
    font-weight: bold;
    
  }
  .judul {
    padding: 15px 0px 0px 30px;
    font-size: 30px;
    font-weight: bold;
  }
  .list-item-event{
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    background-color: #eaeaea;
    margin-top: 5px  ;
    color: #082A5A;
    height: 70px;
  }
  .judul-event{
    font-size: 25px;
    padding: 15px 0px 0px 30px;
    color: black;
    
  }
  .btn{
    height: 40px;
    width: 100px;
    margin-top:5px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: white;
  }
  .btn:hover{
    height: 40px;
    width: 100px;
    margin-top:5px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: white;
  }
  .color-edit{
    background-color: #F2D114;
  }
  .color-delete{
    background-color: #F22F14;
  }
  .text-action{
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  .button-lembaga{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 30%;
  }
/* card style */
.Card{
  margin: 0 auto;
  width: 80%;
}
.card-list{
display: grid;
grid-template-columns: 1fr 1fr;
}
.card{
margin-bottom: 20px;
height: 650px;
box-sizing: border-box;
}
.card img{
max-height: 400px;
min-height: 399px;
width: 100%;
object-fit: cover;
object-position: center;
}
.card-title{
font-weight: bold;
font-size: 25px;
}
.routerlink{
  text-decoration: none;
  color: black;
}
.routerlink:hover{
  text-decoration: none;
  color: black;
}

.list-group-item{
height: 60px;
}
.card-body{
height: 200px;
color: black;
}

/* all events */
.All-Events h1{
  text-align: center;
  margin-top: 40px;
  color: #082A5A;
}
/* detail event */
.detail-event{
  width: 80%;
  margin: 30px auto;

}
.image-detail{
  width: 100%;
  margin: 20px auto;
}
.image-detail img{
  width: 90%;
}
.event-detail-text{
  padding:30px 0px 0px 20px;
}
.event-detail-text h1{
  font-weight: bold;
}
.event-detail-text a{
  text-decoration: none;
  color: white;
}
.text-distance{
  padding-top:20px ;
}
.text-distance h2{
  font-size: 20px;
}
.daftar{
  background-color: #082A5A;
  width: 70px;
}
.instagram a{
  text-decoration: none;
  color: black;
}
.deskripsi{
  text-align: justify;
  width: 90%;
}
@media screen and (min-width: 700px){
    .Hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .Hero h1{
        font-size: 50px;
   }
   .detail-event{
     display: grid;
     grid-template-columns: 1fr 1fr;
   }
   .event-detail-text {
    padding:50px 0px 0px 100px;
  }
  .text-distance h2{
    font-size: 40px;
  }
  .detail-event{
    width: 70%;
    margin: 30px auto;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  
  }
  .image-detail{
    width: 90%;
    margin: 30px auto;
  }
    
}
@media screen and ( max-width: 699px){
    .Hero h1{
         font-size: 30px;
    }
    .Hero-item-1{
        text-align: left;
        padding: 40px 0px 0px 50px;
        width: 100%;
    }
}
@media screen and (min-width: 1000px){
    .Hero h1{
        font-size: 70px;
   }
}
@media screen and (max-width: 1100px) {
    .category-item-dk{
        width: 200px;
        height: 200px;
        
    }
    .category-item-dk h2{
        font-size: 20px;
    }
}
